[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint-django = "*"
pycodestyle = "*"

[packages]
django = "==3.1.2"
coverage = "*"
gunicorn = "==20.0.4"

[requires]
python_version = "3.8.5"
