<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    {% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/common/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/footer.css' %}">
    {% endblock %}
    <title>
    {% block title %}
    Home &#124; Instaswap
    {% endblock %}
    </title>
</head>
<body>
    <header>
        <div class="wrapper">
            <nav>
                <p>nav</p>
            </nav>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% include 'common/footer.html' %}
    {% endblock %}
    {% block scripts %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="{% static 'js/common/base.js' %}"></script>
    {% endblock %}
</body>
</html>